<h1 class="text text-center">Log in</h1>
<div class="text text-center">
<%= form_for @user do |f| %>
  <div class="field">
    <%= f.label :login %><br />
    <%= f.text_field :login, autofocus: true, style: "width:200px" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autofocus: true, style: "width:200px" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-primary", style: "margin: 5px" %>
  </div>
<% end %>
</div>
